.messages_item {
    max-width: 200px;
    margin: 0px 0 0px 30px;
    padding: 20px;
    font-size: 15px;
    border: 2px solid #FFFFFF;
    border-radius: 40px;
    color: #FFFFFF;
    background-color: rgba(122, 126, 215, 0.1);
}

.messages_item:nth-of-type(even)  {
    border: 2px solid rgb(122,126,215);
    margin: 0px 0 0px 290px;
}