.nav {
    grid-area: nav;
    background: linear-gradient(90deg, #1b1b1b, #565656);
    height: 100vh;
}

.nav ul {
    margin: 0 20px;
}

.nav li {
    padding: 5px;
}

.nav a {
    color: white;
    font-size: 20px;
}

.nav a.active {
    text-shadow: 1px 1px 2px black, 0 0 1em #052975;
    font-weight: 700;
    font-size: 25px;
}